* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size:26px ;
    color:rgb(150, 85, 194);
    margin: 50px;
}

form {
    width: 320px;
    margin: 50px auto;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 0 30px 0 30px;
    box-shadow: 10px 10px 10px 10px  rgb(150, 85, 194);
    background-color: #ffffff;
}

label {
    display: block;
    color: #222222;
}

input {
    display: block;
    width: calc(100% - 20%);
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 15px auto;
} 

input[type="submit"]{
    background-color: rgb(150, 85, 194); ;
    color: #222222;
}










/* 
input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}